<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<title>ExamenU2</title>
</head>
<body>

<center><strong><h1 class="btn btn-info" role="button large">MENÚ DE OPCIONES</h1></center></strong>
 
<ul>
	<li>
		<a th:href="@{/examenUnidad2/Computadoras}" class="btn btn-success" role="button">TABLA DE COMPUTADORAS</a>
	</li>
	<li>
		<a th:href="@{/examenUnidad2/Tickets}" class="btn btn-success" role="button">TICKETS</a>
	</li>
	<li>
		<a th:href="@{/examenUnidad2/Ventas}"class="btn btn-success" role="button">VENTAS</a>
	</li>
	<li>
		<a th:href="@{/examenUnidad2/Clientes}"class="btn btn-success" role="button">CLIENTES</a>
	</li>
	<li>
		<a th:href="@{/examenUnidad2/Proveedores}"class="btn btn-success" role="button">PROVEEDORES</a>
	</li>
</ul>


<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><br><br><br>
<strong><CENTER><FOOTER><h3 class="btn btn-info" role="button">CASTRO HERNANDEZ BRANDON</h3></FOOTER></CENTER></strong>


</body>

</html>

